
<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">

<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Ristorante Con Fusion: Menu</title>
        <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
        <div class="row row-content" ng-controller="DishDetailController">
            <div class="col-xs-12">
                <div class="media">
                <div class="media-left media-middle">
                    <a href="#">
                    <img class="media-object img-thumbnail" 
                         ng-src={{dish.image}} alt="Uthapizza">
                    </a>
                    </div>
                    <div class="media-body">
                    <h2 class="media-heading">{{dish.name}}
                        <span class="label label-danger label-xs">{{dish.label}}</span>
                        <span class="badge">{{dish.price | currency}}</span>
                        </h2>
                        <p>{{dish.description}}</p>
                    </div>
                
                </div>
            </div>
        
            <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
                <div class="col-xs-12 col-sm-4">
                    <h4><strong>Customer Comments</strong></h4>
                </div>
                <div class="col-xs-12 col-sm-5">
                <label for="sort">Sort by: </label>
                    <input ng-model='sortType'>
                </div>
                <div class="col-xs-12">
                    <ul class="list-unstyled">
                    <li ng-repeat="comment in dish.comments | orderBy : sortType">
                        <blockquote>
                        <p>{{comment.rating}} Stars</p>
                            <p>{{comment.comment}}</p>
                            <footer><strong>{{comment.author}},{{comment.date | date : ' MMM. dd, yyyy'}}</strong></footer>
                        </blockquote>
                     </li>
                     <li ng-show="username && userComment">
                        <blockquote>
                        <p>{{selectedRating}} Stars</p>
                            <p>{{userComment}}</p>
                            <footer><strong>{{username}},{{comment.date | date : ' MMM. dd, yyyy'}}</strong></footer>
                        </blockquote>
                     </li>  
                    </ul>
                </div>

                
                <form class="form-horizontal" role="form" name="commentForm"
                		ng-submit="submitComment()" novalidate>
					<!-- name -->
                    <div class="form-group" ng-class="{ 'has-error' : commentForm.name.$error.required && commentForm.name.$touched }">
                        <label for="name" class="col-xs-2 control-label">Your Name</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter Your Name" ng-model="username" required>
                         <span ng-show="commentForm.name.$error.required && commentForm.name.$touched" class="help-block" required>Your name is required.</span>
                        </div>
                    </div>

                    <div class="form-group">
				   		<label for="guests" class="col-xs-2 control-label">Number of stars</label>							
						<div class="col-sm-10">						
				
						   <label class="radio-inline control-label"><input type="radio" class="radio-inline" ng-model="selectedRating" name="userrating" value="1" id="1">1</label>
							<label class="radio-inline control-label"><input type="radio" class="radio-inline" ng-model="selectedRating" name="userrating" value="2" id="2">2</label>
							<label class="radio-inline control-label"><input type="radio" class="radio-inline" ng-model="selectedRating" name="userrating" value="3" id="3">3</label>
							<label class="radio-inline control-label"><input type="radio" class="radio-inline" ng-model="selectedRating" name="userrating" value="4" id="4">4</label>
							<label class="radio-inline control-label"><input type="radio" class="radio-inline" ng-model="selectedRating" name="userrating" value="5" id="5" >5</label>			

						</div>
					</div>

					 <!-- feedback -->
                    <div class="form-group" ng-class="{ 'has-error' : commentForm.feedback.$error.required && commentForm.feedback.$touched }">
                        <label for="feedback" class="col-xs-2 control-label">Your Comments</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="feedback" name="feedback" placeholder="Enter Your Comments" rows="12" ng-model="userComment" required></textarea>
                            <span ng-show="commentForm.feedback.$error.required && commentForm.feedback.$touched" class="help-block" requuired>Your comments are required.</span>
                        </div>
                    </div> 

                     <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Comments</button> 
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="scripts/app.js"></script>

</body>

</html>
